// variables
$primary-color: #02aaa7;
$primary-color: #D70F64;
// $primary-color: #E91431;
$primary-color-darker: #089492;
$secondary-color: #440063;
$dark-color: #000;
$clean-color: #fff;
$grey: #3a3a3a;
$text-descripion: #2e3333;
$dark-transparent: rgba(0,0,0, 0.2);


// .topbar{
//   height: 58px;
//   background: $primary-color-darker;
//   color: $clean-color;
//   width: 100%;
//   padding-top: 10px;
// }
.topbar {
  height: 58px;
  background: $dark-transparent;
  color: $clean-color;
  width: 100%;
  padding-top: 10px;
  position: absolute;
  top: 0;
}
.container{
   width: 1280px;
   margin: 0 auto;
   padding: 0px 20px;
  box-sizing: border-box;
  img{
    // width: 160px;
    width: 162px;
    margin-top: -2px;
  }
 }
.content{
  background: $primary-color;
}
.content__banner{
    @extend .content;
    margin-top: 0px;
    padding-top: 68px;
}

.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../images/banner.png);
  background-repeat: no-repeat;
  background-position: right 55%;
  min-height: 375px;
  background-size: 55%;
  > div{
    flex: 1;
    color: $clean-color;
  }
  h1{
    font-size: 2.2em;
  }
}

.side-space{
  padding: 0 10px;
}
.font--small{
  font-size: 0.8em;
}
input.search-box {
    height: 18px;
    border: 0;
    margin: 5px 0px 20px 0px;
    width: 68%;
    padding: 12px;
}
.login-box{
  @extend input.search-box;
  border: 1px solid $primary-color;
  width: 100% !important;
  margin: 5px 0px 5px 0px;
  padding: 18px 25px;
  box-sizing: border-box;
}
.button {
    padding: 5px 18px;
    text-align: center;
    height: 42px;
    color: $primary-color;
    background: $clean-color;
    border: 0;
}
.botton i,.button__top i{
  font-weight: 600 !important;
}
.button__top{
   @extend .button;
   float: right;
}
.button__login{
  @extend .button__top;
  background: $primary-color;
  float: none;
  width: 100%;
  color: $clean-color;
  margin-top: 10px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.flex-item {
  padding: 10px;
  border: 5px transparent;
  color: $dark-color;
  .cover{
    text-align: center;
    min-height: 200px;
    background: $dark-color;
    color: $clean-color;
    vertical-align: middle;
    line-height: 200px;
    margin-bottom: 15px;
    font-size: 2.5em;
    font-weight: 700;
    text-shadow: 2px 2px $grey;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
}
.flex-item{
  cursor: pointer;
  &:hover .hover {
    display: flex;
    position: absolute;
    height: 100%;
    background: #00000059;
    width: 100%;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
}
.description{
  color: $text-descripion;
}
.description__link{
  color: $primary-color;
  padding-top: 10px;
  display: block;
  font-size: 1.1em;
  text-decoration: none;
  text-transform: capitalize;
}

.flex1 { flex: 1 1 12em;}
.flex2 { flex: 2 2 12em;} 

.salad {
  background: url(../images/salad.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
}

.pasta {
  background: url(../images/pasta.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
}

.dessert {
  background: url(../images/dessert.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
}

.burger {
  background: url(../images/burger.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
}
.footer{
  background: $dark-color;
  height: 80px;
  color: $clean-color;
  line-height: 80px;
  margin-top: 50px;
  text-align: center;
  span{
    color: $primary-color;
  }
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -12px;
  &:hover,
  &:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}
.modal__title{
  text-align: center;
  color: #d83e64;
  font-weight: 100;
  margin-top: 8px;
}
.modal__link {
  padding: 5px;
  text-align: center;
  display: block;
  cursor: pointer;
}
.modal__icon{
  position: absolute;
  margin-top: 15px;
  margin-left: 8px;
  color: #d70f64;
}
@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
  }
  .banner{
    background-size: 75%;
  }
  .modal-content {
    width: 60%;
  }
}
@media screen and (max-width: 750px) {
  .banner > div {
    flex: auto; 
  }
  .banner h1{
    text-shadow: 2px 2px $grey;
  }
  .banner{
    background-size: 95%;
  }
  input.search-box{
    width: 76%;
  }
  .modal-content {
    width: 80%;
  }
}
@media screen and (max-width: 530px) {
  .banner {
    background: none;
    min-height: 190px;
    h1{
      font-size: 2em;
      text-shadow: none;
    }
  } 
}

@media screen and (max-width: 500px) {
  .flex-container {
    display: block;
    display: block;
    display: block;
    display: -moz-block;
    display: -webkit-block;
    display: block;
  }
}

@media screen and (max-width: 400px){
  input.search-box{
    width: 72%;
  }
  .button__top span{
    display: none;
  }
}